.productWrapper {
    margin: 50px;
}
.title {
    font-size: 28px;
}
.button{
    position: fixed;
    bottom: 70px;
    border: 1px solid lightgray;
    border-radius: 20px;
    width: 100%;
    left: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.button1 {
    background-color: red;
    height: 100%;
    font-size: 24px;
    border: none;
    padding: 20px;
    cursor: pointer;
    color: white;
}
.button2{
    background-color: green;
    height: 100%;
    font-size: 24px;
    border: none;
    padding: 20px;
    cursor: pointer;
    color: white;
}